@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Cabin&family=Dancing+Script:wght@700&family=Marcellus&family=Moon+Dance&display=swap');
*{
    font-family: 'Marcellus', serif;
    margin: 0;
    padding: 0;
}
header{
    background-color: rgb(242, 147, 70);
    width: 100%;
    height: 50px;
    display: flex;
    padding-top:20px ;
    }
    header ul{
        display: flex;
        padding-left: 50%;
        
    }
    header ul li a{
        padding-right: 50px;
        text-decoration: none;
        color: blueviolet;   
        font-weight: bolder;
     }
     video{
        width: 100%;
     }
    header h2{
        color: blueviolet;
        padding-left: 50px;
        font-size: x-large;
        
    }
    header h2:hover{
        text-shadow: 5px 5px 5px rgb(231, 32, 32);
        
        
}
header ul li a:hover{
    text-decoration: underline;
    text-shadow: 3px 5px 5px rgb(231, 32, 32)
}
i{
    padding-left: 10px;
    padding-top: 15px;
}
.banner{
    width: 100%;
    height: 500px;
    background-image: url(https://img.rawpixel.com/private/static/images/website/2022-05/pf-s99-mn-sweet-potato-falafel-bowl-3_1.jpg?w=800&dpr=1&fit=default&crop=default&q=65&vib=3&con=3&usm=15&bg=F4F4F3&ixlib=js-2.2.1&s=70b8234164ea2548c9a89b414f831ac3);
    background-repeat: no-repeat;
    background-size: cover;
    padding-left: 500px;
    padding-top: 200px;
}
footer{
    background-color:rgb(242, 147, 70) ;
    height: 90px;
    text-align: center;
    color: blueviolet;
    padding: 10px;

}
footer p:hover{
    text-decoration: underline;
    text-shadow: 2px 4px 5px rgb(57, 68, 68)
}
h1{
    color: rgb(250, 57, 9);
    text-shadow: 3px 6px 5px rgb(195, 206, 217);
    padding-top: 20px;
    padding-left: 50px;
   

}
#outer{
    width: 100%;
    height: 900px;
    background-color: antiquewhite;
   
}
.row1{
    width: 100%;
    height: 40%;
    margin: 20px;
    display: flex;
    padding-top: 10px;
    padding-left: 70px;
    
    
    
}
.row2{
    display: flex;
    width: 100%;
    height: 40%;
    padding-left: 75px;
    
}
.col{
    margin: 25px;
    padding: 10px;
    height: 250px;
    width: 150px;
    
}

 img{
    height: 250px;
    width: 150px;
    border-radius: 90px 100px;
 }


.col img:hover{
    box-shadow: 6px 7px 8px 10px black;
    transform: translate(5px, 10px);
}
.order{
    height: 400px;
    background-color: rgb(241, 231, 222);
    padding-left: 100px;
}

.order table tr td{
    padding: 12px;
}
button{
    color:rgb(249, 246, 246) ;
    background-color: rgb(72, 72, 70);
    padding:8px;
    font-weight: bolder;
}
button:hover{
    text-decoration: underline;
    box-shadow: 6px 7px 8px 4px rgb(220, 166, 166);
    transform: translate(4px, 8px );
}

@media screen and (max-width:400px){
    *{
        margin: 0px;
        padding: 0px;
        font-family: 'Courier New', Courier, monospace;
    }
    header{
        background-color: rgb(232, 142, 142);
        margin: 0px;
        width: 400px;
        height: 30px;
        padding-top: 20px;
        font-size: xx-small;
    }
    header ul li a{
        margin: 0px;
    
    }
    header ul{
        padding-left: 0px;
        margin: 0px;
    }
    header ul li{
        margin: 0px;
        padding: 0px; 
     }
    .video{
        width: 400px;
    }
    h3{
        padding-right: 10px;
    }
    #outer{
        width: 400px;
        height: 400px;
    }
    .row1{
        
        width: 400px;
        height: 150px;
        padding-left: 0px;
        margin: 0px;
        padding: 0px;
    }
    .col{
        height: 50px;
        width: 40px;
        margin: 19px;
        
    }
    img{
        width: 50px;
        height: 80px;
    }
    h3{
        font-size: smaller;
        padding-left: 8px;
    }
    .row2{
        width: 400px;
        height: 200px;
        padding-left: 0px;
    }
    footer{
        width: 400px;
        padding: 0px;
        margin: 0px;
    }
    .order{
        padding-left: 10px;
    }
}